<h2>GESTION DE SOLICITUDES</h2>
<div class="d-grip gap-2 mt-4">
    <a href="#" class="btn btn-primary" type="button">Buscar</a>
</div>


<div class="">
    <table class="table">
      <thead>
        <tr>
          <th>Administrado</th>
          <th>celular</th>
          <th>Correo Electrónico</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Usuario 1</td>
          <td>
            <button>Ver</button>
        </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Usuario 2</td>
          <td>
            <button>Ver</button>
        </td>
        </tr>
        <!-- Agrega más filas según sea necesario -->
      </tbody>
    </table>
  </div>

  {{solicitudes }}