
<header class="d-flex justify-content-between align-items-center px-3 py-2 header text-white ">
  <div class="h4 mb-0 ">{{title}}</div>
  <div>
    <a class="nav-link" href="#">
        <img src="../../../../assets/log-egemsa.svg" alt="Logotipo" class="img-fluid">
    </a>
  </div>
</header>

<router-outlet></router-outlet>
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>Copyright 2023</p>
        </div>
        <!-- <div class="col-sm-6">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Inicio</a></li>
            <li class="list-inline-item"><a href="#">Sobre Nosotros</a></li>
            <li class="list-inline-item"><a href="#">Contacto</a></li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->
<!-- <h5>Footer</h5> -->