

.header {
    background-color:#0065b0ff;
}

footer {
    background-color: #f5f5f5;
    padding: 1rem;
}
footer .container {
    max-width: 960px;
}
footer .row {
    display: flex;
    justify-content: space-between;
}
