<div class="container mt-4" >
    <form action="" [formGroup]="formularioSolicitud" (ngSubmit)="validateAndSubmit()">
        <!-- Informacion del FRAI -->
        <div class="mb-4">
            <!-- <h1 class="text-center">Solicitud de Acceso a la Información Pública</h1> -->
            <label for="idInfoFrai" class="form-label fw-bold">1. FUNCIONARIO RESPONSABLE DE ENTREGA DE INFORMACION:</label>
            <input class="form-control" type="text" name="FRAI" id="idInfoFrai" disabled [value]="nombreFRAI">
        </div>
        <!-- Tipo de persona -->
        <div class="row mb-4">
            <label class="form-label col-12 col-md-3 fw-bold">2. TIPO DE PERSONA:</label>
            <div class="col-6 col-md-4">
                <div class="form-check">
                    <!-- <input type="radio" name="tipoPersonaRadio" class="form-check-input" id="idPersonaNatural" checked [(ngModel)]="tipoPersona" value="natural" > -->
                    <input type="radio" name="tipoPersona" class="form-check-input" id="idPersonaNatural" formControlName="tipoPersona"  value="natural"  checked>
                    <label for="idPersonaNatural" class="form-check-label" >Persona Natural</label>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="form-check">
                    <!-- <input type="radio" name="tipoPersonaRadio" class="form-check-input" id="idPersonaJuridica" [(ngModel)]="tipoPersona" value="juridica"> -->
                    <input type="radio" name="tipoPersona" class="form-check-input" id="idPersonaJuridica" formControlName="tipoPersona" value="juridica">
                    <label for="idPersonaJuridica" class="form-check-label">Persona Juridica</label>
                </div>
            </div>
        </div>
        <hr>
         <!--Seccion datos de persona juridica-->
    <div class="row align-items-start gx-0 mb-2" *ngIf="this.formularioSolicitud.value.tipoPersona === 'juridica'"  formGroupName="personaJuridica">
        <div class="col-12">
            <label class="form-label fw-bold mt-2 mb-4">3. DATOS DE PERSONA JURIDICA:</label>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-sm-2">
                    <label for="idRuc" class="form-label fw-bold">R.U.C.</label>
                </div>
                <div class="col-12 col-sm-6 col-md-5 col-lg-4 mb-3">
                    <div class="input-group">
                            <input type="text" class="form-control" id="idRuc" formControlName="ruc"  [maxlength]=11 [class.is-invalid]="isControlInvalidPersona('personaJuridica','ruc')">               
                        <button type="button" class="btn btn-primary" (click)="searchPersonData()">Validar</button>
                        <small *ngIf="isControlInvalidPersona('personaJuridica','ruc')" class="text-danger">
                            Por favor, ingresa el número de documento correcto
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="row">
                <div class="col-12 col-sm-2">
                    <label for="idRazonSocial" class="form-label fw-bold">Razón Social:</label>
                </div>
                <div class="col-12 col-sm-10">
                    <input type="text" class="form-control" id="idRazonSocial" [readonly]="true" formControlName="razonSocial">
                </div>
            </div>
        </div>
    </div>

    <!--Seccion persona natural-->
    <div class="row gx-0 mb-2" *ngIf="this.formularioSolicitud.value.tipoPersona === 'natural'"  formGroupName="personaNatural">
        <div class="col-12">
            <label class="form-label fw-bold mt-2 mb-4">3. DATOS DE PERSONA NATURAL:</label>

        </div>
        <div class="col-12">
            <!-- Busqueda -->
            <div class="row align-items-start" >
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <label for="tipoDocumentoSelect" class="form-label fw-bold">Nro de Documento:</label>
                </div>
                <div class="col-12 col-sm-6 col-md-2 mb-3">
                    <select name="tipoDocumento" id="tipoDocumentoId" class="form-select" formControlName="tipoDocumento" (change)="onComboChange()">
                        <option value="DNI" class="form-select" selected>DNI</option>
                        <option value="CE" class="form-select">CE</option>
                        <option value="OTRO" class="form-select">OTRO</option>
                    </select>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="idNroDocumento" formControlName="nroDocumento" [maxlength]="getMaxlength()" [class.is-invalid]="isControlInvalidPersona('personaNatural','nroDocumento')">
                        <button type="button" class="btn btn-primary " [disabled]="isButtonDisabled"  (click)="searchPersonData()">Validar DNI</button>
                        <small *ngIf="isControlInvalidPersona('personaNatural','nroDocumento')" class="text-danger">
                            Por favor, ingresa el número de documento correcto
                        </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <label for="apellidoPaterno" class="form-label fw-bold">Apellido Paterno:</label>
                    <input type="text" name="apellidoPaterno" id="apellidoPaternoId" class="form-control mb-3" [readonly]="!isButtonDisabled" formControlName="apellidoPaterno" >
                </div>
                <div class="col-12 col-sm-6">
                    <label for="apellidoMaterno" class="form-label fw-bold">Apellido Materno:</label>
                    <input type="text" name="apellidoMaterno" id="apellidoMaternoId" class="form-control mb-3" [readonly]="!isButtonDisabled" formControlName="apellidoMaterno">
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-sm-2 col-lg-1">
                            <label for="nombres" class="form-label fw-bold">Nombres:</label>
                        </div>
                        <div class="col-12 col-sm-10 col-lg-11">
                            <input type="text" name="nombres" id="nombresId" class="form-control mb-3" [readonly]="!isButtonDisabled" formControlName="nombres" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <hr>
    <!--Datos contacto-->
    <div class="row  mb-2">
        <div class="col-12">
            <label class="form-label fw-bold mt-2 mb-4">4. DATOS DE CONTACTO:</label>
        </div>
        <div class="col-12 col-md-6">
            <label for="direccion" class="form-label fw-bold" >Dirección:</label>
            <input type="text" name="direccion" id="direccionId" class="form-control mb-3" formControlName="direccion" [class.is-invalid]="isControlInvalid('direccion')">
            <small *ngIf="isControlInvalid('direccion')" class="text-danger">
                Por favor, una dirección
            </small>
        </div>
        <div class="col-12 col-md-6">
            <label for="correo" class="form-label fw-bold">Correo Electrónico:</label>
            <input type="text" name="correo" id="correoId" class="form-control" formControlName="correo" [class.is-invalid]="isControlInvalid('correo')">
            <small *ngIf="isControlInvalid('correo')" class="text-danger">
                Por favor, un correo electrónico
            </small>
        </div>
        <div class="col-12 col-md-6">
            <label class="form-label fw-bold">Ubicación:</label>
            <div class="d-flex">
                <select name="departamento" id="departamentoId" formControlName="departamento" class="form-select me-2">
                    <option value="ica" class="form-select">ICA</option>
                    <option value="lima" class="form-select">LIMA</option>
                    <option value="arequipa" class="form-select">AREQUIPA</option>
                </select>
                <select name="provincia" id="provinciaId" class="form-select me-2" formControlName="provincia">
                    <option value="ica" class="form-select">ICA</option>
                    <option value="lima" class="form-select">LIMA</option>
                    <option value="arequipa" class="form-select">AREQUIPA</option>
                </select>
                <select name="distrito" id="distritoId" class="form-select" formControlName="distrito">
                    <option value="ica" class="form-select">ICA</option>
                    <option value="lima" class="form-select">LIMA</option>
                    <option value="arequipa" class="form-select">AREQUIPA</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <label for="tefCel" class="form-label fw-bold">Teléfono / Celular:</label>
            <input type="text" name="tefCel" id="tefCelId" class="form-control" formControlName="celular" [class.is-invalid]="isControlInvalid('celular')" [maxlength]=12>
            <small *ngIf="isControlInvalid('celular')" class="text-danger">
                Por favor, ingrese un telefono o celular
            </small>
        </div>
    </div>
    <hr>
    <!--detalle de la informacion solicitada-->
    <div class="row mb-2">
        <div class="col-12 ">
            <label class="form-label fw-bold mt-2 mb-4">5. DETALLE DE LA INFORMACION SOLICITADA:</label>
            <!--agregar aqui el combo-->
            <div class="row mb-1">
                <div class="col-xs-12 col-md-3 vertical-align">
                    <label class="form-label fw-bold">Seleccionar tipo de entrega:</label>
                </div>
                <div class="col-xs-12 col-md-3">
                    <select name="formaEntregaID" class="form-select custom-select" id="formaEntrega" formControlName="formaEntregaID">
                        <!-- <option value="valor2">Valor 2</option>
                        <option value="valor3">Valor 3</option>  -->
                        <option *ngFor="let forma of formasEntrega" [value]="forma.formaEntregaID">{{ forma.descripcion }}</option>
                    </select>
                    <small *ngIf="isControlInvalid('formaEntregaID')" class="text-danger">
                        Por favor, seleccione una forma de entrega.
                    </small>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2">
            <label for="idInformacionSolicitada" class="form-label fw-bold">Información Solicitada:</label>
            <textarea name="informacionSolicitada" id="idInformacionSolicitada" cols="30" rows="10"
                class="form-control" formControlName="informacionSolicitada" [class.is-invalid]="isControlInvalid('informacionSolicitada')"></textarea>
                <small *ngIf="isControlInvalid('informacionSolicitada')" class="text-danger">
                    Por favor, ingrese la Información que requiere.
                </small>
        </div>

    </div>
    <div class="row">
        <div>
            <div class="form-check mb-3">
                <input type="checkbox" name="declaracionJurada" id="declaracionJuradaId"
                    class="form-check-input"  formControlName="declaracionJurada" [class.is-invalid]="isControlInvalid('declaracionJurada')" required>
                <label for="declaracionJuradaId" class="form-check-label">Estoy de Acuerdo con la
                    <a href="http://" target="_blank" rel="noopener noreferrer">Declaracion Jurada</a></label>
                    
            </div>
            <small *ngIf="isControlInvalid('declaracionJurada')" class="text-danger">
                Debes aceptar antes de enviar.
            </small>
        </div>
    </div>

    <hr>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div>
                    <button type="submit" class="btn btn-primary btn-lg mb-3 mx-1">Enviar Solicitud</button>
                    <button [routerLink]="'/home'" type="submit" class="btn btn-secondary btn-lg mb-3 mx-1">Cancelar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- {{responsableFRAI | json}} -->
<h3>formulario</h3>
<pre>
    <!-- Estado:{{formularioSolicitud.valid}} -->
    <br>
    Statud:{{formularioSolicitud.status}}
</pre>
<pre>
    {{formularioSolicitud.value | json}}
</pre>
<p>
    <!-- {{tipoPersonaSeleccionada}} -->
</p>
<p>
    <!-- {{formularioSolicitud.get('nroDocumento')!.valid}} -->
</p>